body {
  background-image: url("scenerycloudymountain.jpg");
  background-size: 100%;
  color: #202124;
}
input {
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
h2 {
  font-size: 70px;
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: rgb(54, 134, 65);
}
ul {
  font-size: 18px;
  list-style: none;
  margin-top: 70px;
}
.weather-app {
  background-color: rgb(255, 255, 255, 0.3);
  font-family: "Source Sans Pro", sans-serif;
  border: solid 1px rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px 5px 20px;
}
.city-search-field {
  background-color: #edf9a9;
  color: rgb(37, 35, 35);
  margin: 10px;
}
.city-search-field:hover {
  background-color: #ffffff83;
  color: #ffffff;
}

.city-current-field {
  background-color: #1d2886;
  color: #ffffff;
}

.city-current-field:hover {
  background-color: #ffffff83;
  color: #ffffff;
}

.units {
  font-size: 35px;
  position: relative;
  bottom: 20px;
}
.weather-icon {
  position: relative;
  bottom: 10px;
  font-size: 100px;
  margin-left: -25px;
}
.popular-cities {
  color: #edf9a9;
  font-size: 19px;
}

.card-body {
  text-align: center;
  font-size: 20px;
  color: #202124;
  background-color: rgb(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.btn-primary {
  background-color: rgb(54, 134, 65);
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  margin-bottom: 20px;
}
.btn-primary:hover {
  background-color: rgb(33, 49, 35);
  border: none;
}
.credits {
  opacity: 0.6;
  text-align: center;
}
.credits a {
  color: aquamarine;
}

.active {
  color: #ffffff;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
